<html>
<head>
  <meta charset="utf-8">
  <script crossorigin src="https://unpkg.com/react@16/umd/react.development.js">
  </script>

  <script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js">
  </script>

  <script crossorigin src="https://unpkg.com/babel-standalone@6/babel.min.js">
  </script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  <title>
    외부사이트
  </title>
  <script src="jquery-3.4.1.min.js"></script>
  <style media="screen">
  @font-face {
      font-family: "ON-IGothic";
      src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eleven@1.0/ON-IGothic.woff")
        format("woff");
      font-weight: normal;
      font-style: normal;
    }
    li{
      list-style:none;
      margin-bottom : 20px;
      margin-top : 30px;
    }
    body {
       background-image: url(https://s3.orbi.kr/data/file/united2/9a2dd8fa-052e-4a3b-aecf-73f47a1600dd1.png);
       background-size: cover;
       background-repeat: repeat;
       font-weight: bold;
       font-family: "ON-IGothic";
       font-size: medium;
       background-position: center;
    }

    a{
       display: block;
       margin:  2%;
       max-width: 100%;
      height: 15%;
       text-decoration: none;
       border-radius: 10px;
       padding: 20% 15%;
       font-size: 20px;

      background:rgba(1, 73, 157, 70);
      color:rgba(255, 255,255, 1);
      opacity: 80%;
    }
    a:hover{

      background:rgba(255, 255,255, 1);
      color:rgba(1, 73, 157, 70);
      text-decoration: none;
      opacity: 0.8;
    }
    a:before,a:after{

      text-decoration: none;
      content:'';
      position:absolute;
      top:0;
      right:0;
      height:2px;
      width:0;
      background: rgba(1, 73, 157, 70);
      transition:400ms ease all;
    }
    a:after{
      right:inherit;
      top:inherit;
      left:0;
      bottom:0;
    }
    a:hover:before,a:hover:after{
      width:100%;
      transition:800ms ease all;
      text-decoration:none;
      color: rgba(255, 255, 255, 1);
      box-shadow: rgba(1, 73, 157,70) 0px 0px 0px 120px inset;
    }
    .btn{
      width : 92%;
      margin-left : 20px;
      font-size: large;
    }
    #a{
        margin-left : 40px;
    }
    #b{
      margin-left : 30px;
    }
    #im{
      margin-left : 40px;
    }
    #logout{
      text-align: right;
    }
    .logout {
     background-color: rgba(255, 255, 255, 255);
     border: none;
     color: rgba(1, 73, 157, 70);
     cursor: pointer;
     display: inline-block;
     font-size: 2em;
     font-size: 15px;
     line-height: 1em;
     margin: 10px 20px;
     outline: none;
     padding: 5px 5px 5px;
     position: relative;
     text-transform: uppercase;
     font-weight: 700;
   }
   .logout:before,
   .logout:after {
     border-color: transparent;
     -webkit-transition: all 0.25s;
     transition: all 0.25s;
     border-style: solid;
     border-width: 0;
     content: "";
     height: 24px;
     position: absolute;
     width: 24px;
   }
   .logout:before {
     border-color: rgba(1, 73, 157, 70);
     border-right-width: 2px;
     border-top-width: 2px;
     right: -5px;
     top: -5px;
   }
   .logout:after {
     border-bottom-width: 2px;
     border-color: rgba(1, 73, 157, 70);
     border-left-width: 2px;
     bottom: -5px;
     left: -5px;
   }
   .logout:hover,
   .logout.hover {
     color: rgba(255, 255, 255, 255);
     background-color: rgba(1, 73, 157, 70);
   }
   .logout:hover:before,
   .logout.hover:before,
   .logout:hover:after,
   .logout.hover:after {
     height: 100%;
     width: 100%;
   }
   #log{
       border-radius: 4px;
      background-color:#41b5d8;
      color:black;
   }
  </style>
</head>

<body>
  <div class="container">
    <div id="infor"></div>
    <div class="row">
      <div id="gosite"></div>
    </div>
    <div id="외부사이트"></div>
  </div>
  <script type ="text/babel">
    class OutPage extends React.Component{
      constructor(props){
        super(props);
        this.state={
          site: "",
          siteLink:[
            {link : 'http://www.kosaf.go.kr/',
            siteName: '한국장학재단',
          },
            {link : 'https://everytime.kr/',
            siteName: '에브리타임',
          },
          {link : 'http://portal.cnu.ac.kr/',
          siteName: '충남대학교포털',
          },
          {link : 'http://cuvic.cnu.ac.kr/',
          siteName: '충남대학교 웹메일',
          },
          {link : 'http://library.cnu.ac.kr/',
          siteName: '충남대학교 도서관',
          },
          {link : 'http://e-learn.cnu.ac.kr/main/MainView.dunet',
          siteName: '충남대학교 이러닝',
          },
          {link : 'http://plus.cnu.ac.kr/html/kr/',
          siteName: '충남대학교 홈페이지',
          },
          {link : 'http://www.all-con.co.kr/',
          siteName: 'Allcon(공모전사이트)',
          },
          {link : 'https://cic.cnu.ac.kr/cic/service/365.do',
          siteName: 'office365',
          },
          ],
        };
      }


      render(){
        return (
        <div>

          <form action={this.state.site}>
          <ul class="container">
          {this.state.siteLink.map( (v)=>{return <li type="button" class ="col-md-4 span4" onClick={()=>{
            this.setState({site:v.link})
          }}><a id="링크" href={this.state.site} class="button">{v.siteName}</a></li>}) }
          </ul>
          </form>
        </div>
        );
      }
    }

    class Ace extends React.Component{
      constructor(props){
        super(props);
        this.state = {
          id: <%-JSON.stringify(number)%>,
          name: <%-JSON.stringify(name)%>,
          department:<%-JSON.stringify(selector)%>,
        }
      }
      render(){
        return(
          <React.Fragment>
          <form action="/">
          <div className="row">
          <div className="col-md-4">
          <img id="im"src="https://computer.cnu.ac.kr/_res/computer/img/common/img-symbol01.png" width="100px" height="100px"/>
          </div>

          <div id="logout"className="col-md-4 pull-right">
              {this.state.id}{"   "}{this.state.name}{"   "}{this.state.department}
              <button id="log" className="logout">로그아웃</button>
          </div>
          </div>
          </form>
          </React.Fragment>

        )
      }
    }
    class Gosite extends React.Component{
      state  = {
        site : "",
      }
      render(){
        return(
        <div>
        <form action={this.state.site} method ="post">
        <input type = "hidden" name="number1" value=<%-JSON.stringify(number)%>></input>
        <input type = "hidden" name="passwd" value=<%-JSON.stringify(password1)%>></input>
        <input type = "hidden" name="selector" value=<%-JSON.stringify(selector)%>></input>
        <input type = "hidden" name="name1" value=<%-JSON.stringify(name)%>></input>
          <div className="col-md-4">
          <button id="a" className = "btn btn-info"onClick={()=>{this.setState({site:"/api" })}}>일정</button>
          </div>
            <div className="col-md-4">
          <button id="b"className = "btn btn-info" onClick={()=>{this.setState({site:"/successlogin" })}}>편의시설</button>
            </div>
            <div className="col-md-4">
          <button className = "btn btn-info" onClick={(e)=>{e.preventDefault()}}>외부사이트</button>
            </div>
        </form>
        </div>
      );
      }
    }
  </script>
  <script type="text/babel">
    ReactDOM.render(<OutPage/>,document.querySelector('#외부사이트'));
    ReactDOM.render(<Ace />,document.querySelector('#infor'));
    ReactDOM.render(<Gosite />,document.getElementById('gosite'))
  </script>
</body>
</html>
